{% extends 'base.html.twig' %}

{% block title %}VoilageRideauxDoubles index{% endblock %}

{% block body %}
    <h1>VoilageRideauxDoubles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Usetxt</th>
                <th>Width</th>
                <th>Height</th>
                <th>Lining</th>
                <th>Fabric</th>
                <th>Curtain_head_finishing</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voilage_rideaux_double in voilage_rideaux_doubles %}
            <tr>
                <td>{{ voilage_rideaux_double.id }}</td>
                <td>{{ voilage_rideaux_double.title }}</td>
                <td>{{ voilage_rideaux_double.picture }}</td>
                <td>{{ voilage_rideaux_double.usetxt }}</td>
                <td>{{ voilage_rideaux_double.width }}</td>
                <td>{{ voilage_rideaux_double.height }}</td>
                <td>{{ voilage_rideaux_double.lining }}</td>
                <td>{{ voilage_rideaux_double.fabric }}</td>
                <td>{{ voilage_rideaux_double.curtainHeadFinishing }}</td>
                <td>{{ voilage_rideaux_double.time }}</td>
                <td>
                    <a href="{{ path('app_voilage_rideaux_doubles_show', {'id': voilage_rideaux_double.id}) }}">show</a>
                    <a href="{{ path('app_voilage_rideaux_doubles_edit', {'id': voilage_rideaux_double.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voilage_rideaux_doubles_new') }}">Create new</a>
{% endblock %}
