{% extends 'base.html.twig' %}

{% block title %}VoilageRideauxDoubles{% endblock %}

{% block body %}
    <h1>VoilageRideauxDoubles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voilage_rideaux_double.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ voilage_rideaux_double.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ voilage_rideaux_double.picture }}</td>
            </tr>
            <tr>
                <th>Usetxt</th>
                <td>{{ voilage_rideaux_double.usetxt }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ voilage_rideaux_double.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ voilage_rideaux_double.height }}</td>
            </tr>
            <tr>
                <th>Lining</th>
                <td>{{ voilage_rideaux_double.lining }}</td>
            </tr>
            <tr>
                <th>Fabric</th>
                <td>{{ voilage_rideaux_double.fabric }}</td>
            </tr>
            <tr>
                <th>Curtain_head_finishing</th>
                <td>{{ voilage_rideaux_double.curtainHeadFinishing }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ voilage_rideaux_double.time }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voilage_rideaux_doubles_index') }}">back to list</a>

    <a href="{{ path('app_voilage_rideaux_doubles_edit', {'id': voilage_rideaux_double.id}) }}">edit</a>

    {{ include('voilage_rideaux_doubles/_delete_form.html.twig') }}
{% endblock %}
