{% extends 'base.html.twig' %}

{% block title %}SecteurPubliqueMonumentHistorique{% endblock %}

{% block body %}
    <h1>SecteurPubliqueMonumentHistorique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur_publique_monument_historique.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ secteur_publique_monument_historique.title }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                <td>{{ secteur_publique_monument_historique.pictures ? secteur_publique_monument_historique.pictures|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ secteur_publique_monument_historique.detail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secteur_publique_monument_historique_index') }}">back to list</a>

    <a href="{{ path('app_secteur_publique_monument_historique_edit', {'id': secteur_publique_monument_historique.id}) }}">edit</a>

    {{ include('secteur_publique_monument_historique/_delete_form.html.twig') }}
{% endblock %}
