{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier Abat-Jour</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

    <div>
        <label>Images actuelles :</label>
        <div class="d-flex flex-wrap">
            {% for picture in abat_jour.pictures %}
                <div class="m-2 position-relative">
                    <img src="{{ asset('uploads/images/' ~ picture) }}" width="100" class="rounded shadow">
                    <input type="checkbox" name="delete_pictures[]" value="{{ picture }}"> Supprimer
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form_row(form.pictures) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}
