{% extends 'base.html.twig' %}

{% block title %}Banquette index{% endblock %}

{% block body %}
    <h1>Banquette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Usetxt</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Covering_or_complete_repair</th>
                <th>Materials</th>
                <th>Fabric</th>
                <th>Finishes</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banquette in banquettes %}
            <tr>
                <td>{{ banquette.id }}</td>
                <td>{{ banquette.title }}</td>
                <td>{{ banquette.picture }}</td>
                <td>{{ banquette.usetxt }}</td>
                <td>{{ banquette.width }}</td>
                <td>{{ banquette.depth }}</td>
                <td>{{ banquette.height }}</td>
                <td>{{ banquette.coveringOrCompleteRepair }}</td>
                <td>{{ banquette.materials }}</td>
                <td>{{ banquette.fabric }}</td>
                <td>{{ banquette.finishes }}</td>
                <td>{{ banquette.time }}</td>
                <td>
                    <a href="{{ path('app_banquette_show', {'id': banquette.id}) }}">show</a>
                    <a href="{{ path('app_banquette_edit', {'id': banquette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_banquette_new') }}">Create new</a>
{% endblock %}
