{% extends 'base.html.twig' %}

{% block title %}Banquette{% endblock %}

{% block body %}
    <h1>Banquette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banquette.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ banquette.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ banquette.image }}</td>
            </tr>
            <tr>
                <th>Finition</th>
                <td>{{ banquette.finition }}</td>
            </tr>
            <tr>
                <th>Tissu</th>
                <td>{{ banquette.tissu }}</td>
            </tr>
            <tr>
                <th>Usagetxt</th>
                <td>{{ banquette.usagetxt }}</td>
            </tr>
            <tr>
                <th>Materiaux</th>
                <td>{{ banquette.materiaux }}</td>
            </tr>
            <tr>
                <th>Temp</th>
                <td>{{ banquette.temp }}</td>
            </tr>
            <tr>
                <th>Recouverture</th>
                <td>{{ banquette.recouverture }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ banquette.largeur }}</td>
            </tr>
            <tr>
                <th>Profondeur</th>
                <td>{{ banquette.profondeur }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ banquette.hauteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banquette_index') }}">back to list</a>

    <a href="{{ path('app_banquette_edit', {'id': banquette.id}) }}">edit</a>

    {{ include('banquette/_delete_form.html.twig') }}
{% endblock %}
