{% extends 'base.html.twig' %}

{% block title %}Banquette{% endblock %}

{% block body %}
    <h1>Banquette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banquette.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ banquette.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ banquette.picture }}</td>
            </tr>
            <tr>
                <th>Usetxt</th>
                <td>{{ banquette.usetxt }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ banquette.width }}</td>
            </tr>
            <tr>
                <th>Depth</th>
                <td>{{ banquette.depth }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ banquette.height }}</td>
            </tr>
            <tr>
                <th>Covering_or_complete_repair</th>
                <td>{{ banquette.coveringOrCompleteRepair }}</td>
            </tr>
            <tr>
                <th>Materials</th>
                <td>{{ banquette.materials }}</td>
            </tr>
            <tr>
                <th>Fabric</th>
                <td>{{ banquette.fabric }}</td>
            </tr>
            <tr>
                <th>Finishes</th>
                <td>{{ banquette.finishes }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ banquette.time }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banquette_index') }}">back to list</a>

    <a href="{{ path('app_banquette_edit', {'id': banquette.id}) }}">edit</a>

    {{ include('banquette/_delete_form.html.twig') }}
{% endblock %}
