{% extends 'base.html.twig' %}

{% block title %}Patines Et Moi | Papier peint création
{% endblock %}

{% block body %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">

		{% block stylesheets %}
			<!-- Favicons -->
			<link href="{{ asset('style/img/favicon.png') }}" rel="icon">
			<link
			href="{{ asset('style/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

			<!-- Fonts -->
			<link href="https://fonts.googleapis.com" rel="preconnect">
			<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
			<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

			<!-- Vendor CSS Files -->
			<link href="{{ asset('style/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ asset('style/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
			<link href="{{ asset('style/vendor/aos/aos.css') }}" rel="stylesheet">
			<link href="{{ asset('style/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
			<link
			href="{{ asset('style/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

			<!-- Main CSS File -->
			<link href="{{ asset('style/css/main.css') }}" rel="stylesheet">
		{% endblock %}
	</head>

	<body class="blog-page">

		<header id="header" class="header d-flex align-items-center fixed-top">
			<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

				<a href="/" class="logo d-flex align-items-center">
					<!-- Uncomment the line below if you also wish to use an image logo -->
					<!-- <img src="style/img/logo.png" alt=""> -->
						<h1 class="sitename"> Patines Et Moi</h1>
				</a>

				<nav id="navmenu" class="navmenu">
					<ul>
						<li>
							<a href="/" class="active">Accueil</a>
						</li>
						<li>
							<a href="/detail">Présentation</a>
						</li>


						<li class="dropdown">
							<a href="#">
								<span>Ameublement</span>
								<i class="bi bi-chevron-down toggle-dropdown"></i>
							</a>
							<ul>
								<li><a href="/banquette">Banquettes</a></li>
								<li><a href="/fauteuil_dagrement">Fauteuil d'agrement</a></li>
								<li><a href="/garniture">Garniture</a></li>
								<li><a href="/avant_apres">Avant / Après</a></li>
								<li><a href="/secteur_publique_monument_historique">Travaux secteur public et monuments historiques</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#">
								<span>Couture d'ameublement
								</span>
								<i class="bi bi-chevron-down toggle-dropdown"></i>
							</a>
							<ul>
								<li><a href="/voilage_rideaux_doubles">voilages, rideaux doublés et stores</a></li>
								<li><a href="/tringlerie">Tringlerie</a></li>
								<li><a href="/tete_de_lit">Têtes de lits et dessus de lits</a></li>
								<li><a href="/abat_jour">Abat-jour</a></li>
							</ul>
						</li>
						<li>
							<a href="/papier_peint">Papier-peint</a>
						</li>
						<li class="dropdown">
							<a href="#">
								<span>Décoration</span>
								<i class="bi bi-chevron-down toggle-dropdown"></i>
							</a>
							<ul>
								<li><a href="/objets_de_decoration">Objets de décoration</a></li>
								<li><a href="/mises_en_scene">Mises en scène</a></li>
							</ul>
						</li>
						<li>
							<a href="/livre_dor">Livre d'or</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<li></li>
					</ul>
					<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
				</nav>

			</div>
		</header>

		<main
			class="main">

			<!-- Page Title -->
			<div class="page-title dark-background" style="background-image: url(image/index/20200603_182413.jpg);">
				<div class="container position-relative">
					<h1>Papier peint</h1>
				</div>
			</div>
			<!-- End Page Title -->

			<style>
				.form-container {
					max-width: 600px;
					margin: 50px auto;
					padding: 30px;
					background: #fff;
					border-radius: 10px;
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
					animation: fadeIn 0.5s ease-in-out;
				}

				.form-container h1 {
					text-align: center;
					font-size: 24px;
					font-weight: 600;
					margin-bottom: 20px;
				}

				.form-container form {
					display: flex;
					flex-direction: column;
				}

				.form-container input,
				.form-container textarea,
				.form-container select {
					width: 100%;
					padding: 10px;
					margin-bottom: 15px;
					border: 1px solid #ccc;
					border-radius: 5px;
					transition: all 0.3s ease-in-out;
				}

				.form-container input:focus,
				.form-container textarea:focus,
				.form-container select:focus {
					border-color:#ffc107;
					box-shadow: 0 0 5px rgba(142, 68, 173, 0.5);
				}

				.form-container button {
					background:#ffc107;
					color: white;
					padding: 10px;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					transition: background 0.3s ease-in-out;
				}

				.form-container button:hover {
					background: #ffc107;
				}

				@keyframes fadeIn {
					from {
						opacity: 0;
						transform: translateY(-10px);
					}
					to {
						opacity: 1;
						transform: translateY(0);
					}
				}
			</style>
			<div class="form-container">
				<h1>Création d'un nouveau mises en scene</h1>
				{{ include('papier_peint/_form.html.twig') }}
			</div>

			<!-- Footer -->
			<footer id="footer" class="footer dark-background">

				<div class="container footer-top">
					<div class="row gy-4">
						<div class="col-lg-4 col-md-6 footer-about">
							<a href="/" class="logo d-flex align-items-center">
								<span class="sitename">Patines Et Moi</span>
							</a>
							<div class="footer-contact pt-3">
								<p>A108 Adam Street</p>
								<p>New York, NY 535022</p>
								<p class="mt-3">
									<strong>Téléphone :</strong>
									<span>06-77-80-97-17</span>
								</p>
								<p>
									<strong>Mail:</strong>
									<span>gusorel@laposte.net</span>
								</p>
							</div>
							<div class="social-links d-flex mt-4">
								<a href="https://www.facebook.com/Patinesetmoi.GuillaumeSorel">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="https://www.instagram.com/patines_et_moi_restaurations?igsh=MW0zOG9mdGFvajM0bw==">
									<i class="bi bi-instagram"></i>
								</a>

							</div>
						</div>

						<div class="col-lg-2 col-md-3 footer-links">
							<h4>Useful Links</h4>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/detail">Détail de l'entreprise</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Terms of service</a></li>
								<li><a href="#">Privacy policy</a></li>
							</ul>
						</div>

						<div class="col-lg-2 col-md-3 footer-links">
							<h4>Our Services</h4>
							<ul>
								<li><a href="/banquette">Banquettes</a></li>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Product Management</a></li>
								<li><a href="#">Marketing</a></li>
								<li><a href="#">Graphic Design</a></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="container copyright text-center mt-4">
					<p>©
						<span>Copyright</span>
						<strong class="px-1 sitename">UpConstruction</strong>
						<span>All Rights Reserved</span>
					</p>
					<div class="credits">
						<!-- All the links in the footer should remain intact. -->
						<!-- You can delete the links only if you've purchased the pro version. -->
						<!-- Licensing information: https://bootstrapmade.com/license/ -->
						<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
						Designed by
							<a href="https://bootstrapmade.com/"> BootstrapMade</a>
					</div>
				</div>

			</footer>

			<!-- Scroll Top -->
			<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
				<i class="bi bi-arrow-up-short"></i>
			</a>

			{% block javascripts %}
				<script src="{{ asset('style/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
				<script src="{{ asset('style/vendor/aos/aos.js') }}"></script>
				<script src="{{ asset('style/vendor/glightbox/js/glightbox.min.js') }}"></script>
				<script src="{{ asset('style/vendor/swiper/swiper-bundle.min.js') }}"></script>
				<script src="{{ asset('style/js/main.js') }}"></script>
			{% endblock %}

		</body>
	</body>
{% endblock %}
