{% extends 'base.html.twig' %}

{% block title %}AvantApres index{% endblock %}

{% block body %}
    <h1>AvantApres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Detail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avant_apre in avant_apres %}
            <tr>
                <td>{{ avant_apre.id }}</td>
                <td>{{ avant_apre.title }}</td>
                <td>{{ avant_apre.picture }}</td>
                <td>{{ avant_apre.detail }}</td>
                <td>
                    <a href="{{ path('app_avant_apres_show', {'id': avant_apre.id}) }}">show</a>
                    <a href="{{ path('app_avant_apres_edit', {'id': avant_apre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avant_apres_new') }}">Create new</a>
{% endblock %}
