{% extends 'base.html.twig' %}

{% block title %}Tringlerie index{% endblock %}

{% block body %}
    <h1>Tringlerie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Detail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tringlerie in tringleries %}
            <tr>
                <td>{{ tringlerie.id }}</td>
                <td>{{ tringlerie.title }}</td>
                <td>{{ tringlerie.picture }}</td>
                <td>{{ tringlerie.detail }}</td>
                <td>
                    <a href="{{ path('app_tringlerie_show', {'id': tringlerie.id}) }}">show</a>
                    <a href="{{ path('app_tringlerie_edit', {'id': tringlerie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tringlerie_new') }}">Create new</a>
{% endblock %}
