{% extends 'base.html.twig' %}

{% block title %}Edit Garniture{% endblock %}

{% block body %}
    <h1>Edit Garniture</h1>

    <div>
		<label>Images actuelles :</label>
		<div class="d-flex flex-wrap">
			{% for picture in garniture.pictures %}
				<div class="m-2 position-relative">
					<img src="{{ asset('uploads/images/' ~ picture) }}" width="100" class="rounded shadow">
					<input type="checkbox" name="delete_pictures[]" value="{{ picture }}">
					Supprimer
				</div>
			{% endfor %}
		</div>
	</div>

    {{ include('garniture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_garniture_index') }}">back to list</a>

    {{ include('garniture/_delete_form.html.twig') }}
{% endblock %}
