{% extends 'base.html.twig' %}

{% block title %}ObjetsDeDecoration{% endblock %}

{% block body %}
    <h1>ObjetsDeDecoration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objets_de_decoration.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ objets_de_decoration.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ objets_de_decoration.picture }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ objets_de_decoration.detail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_objets_de_decoration_index') }}">back to list</a>

    <a href="{{ path('app_objets_de_decoration_edit', {'id': objets_de_decoration.id}) }}">edit</a>

    {{ include('objets_de_decoration/_delete_form.html.twig') }}
{% endblock %}
