{% extends 'base.html.twig' %}

{% block title %}FauteuilDagrement index{% endblock %}

{% block body %}
    <h1>FauteuilDagrement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Usetxt</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Covering_or_complete_repair</th>
                <th>Materials</th>
                <th>Fabric</th>
                <th>Finishes</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fauteuil_dagrement in fauteuil_dagrements %}
            <tr>
                <td>{{ fauteuil_dagrement.id }}</td>
                <td>{{ fauteuil_dagrement.title }}</td>
                <td>{{ fauteuil_dagrement.picture }}</td>
                <td>{{ fauteuil_dagrement.usetxt }}</td>
                <td>{{ fauteuil_dagrement.width }}</td>
                <td>{{ fauteuil_dagrement.depth }}</td>
                <td>{{ fauteuil_dagrement.height }}</td>
                <td>{{ fauteuil_dagrement.coveringOrCompleteRepair }}</td>
                <td>{{ fauteuil_dagrement.materials }}</td>
                <td>{{ fauteuil_dagrement.fabric }}</td>
                <td>{{ fauteuil_dagrement.finishes }}</td>
                <td>{{ fauteuil_dagrement.time }}</td>
                <td>
                    <a href="{{ path('app_fauteuil_dagrement_show', {'id': fauteuil_dagrement.id}) }}">show</a>
                    <a href="{{ path('app_fauteuil_dagrement_edit', {'id': fauteuil_dagrement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fauteuil_dagrement_new') }}">Create new</a>
{% endblock %}
